<navbar></navbar>
<h1>{{restaurant.name}}</h1>
<div class="container restaurant-details-div">
<div class="container">
 
  
    
  
    
    <li><div class="static-html">Address</div>{{restaurant.location.address}}</li>
    <li><div class="static-html">Rating</div>{{restaurant.user_rating.aggregate_rating}} out of 5 <img class="star" src="assets/star.ico" alt="small gold star"></li>
    <li><div class="static-html">Type of cuisine:</div>{{restaurant.cuisines}}</li>
    <li><div class="static-html">Average cost for 2</div>${{restaurant.average_cost_for_two}}</li>
    
    


  
  <div class="container2 top-pad map-pic">
    <div class="map">
  <agm-map [latitude]="coords[0]" [longitude]="coords[1]">
    <agm-marker [latitude]="coords[0]" [longitude]="coords[1]"></agm-marker>
  </agm-map>
</div>
<div class="space"></div>
<div class="image">
  <img class="google-pic" [src]="photoUrl">
</div>
</div>

  
  <div class="buttons buttons-container">
  <button (click)="join(restaurant.id)">I want to eat here!</button>
  <div class="space"></div>
  <button (click)="goBack()">I do not want to eat here!</button>
</div>
</div>
<div *ngIf="reservations" class="container users-who-eat-here">
  <h2>Others who want to eat here!</h2>
  <div class="users row">
  <li class="colum-top col-md-3">First Name</li>
  <li class="colum-top col-md-3">Contact Email</li>
  <li class="colum-top col-md-3">&nbsp;</li>
</div>
  <div *ngFor="let user of reservations" class="users row">
    <li class="user-info col-md-3">{{user.firstName}}</li>
    <li class="user-info col-md-3"> {{user.email}}</li>
    <li class="user-info col-md-3"><button class="contact-button " (click)="sendEmail(user.email)">Contact</button></li>
    <div class="space"></div>
  </div>
  
  
</div>
</div>
<div *ngIf="!reservations" class="container users-who-eat-here">
  <h2>You can be the first to schedule a meeting.</h2>
</div>

