<navbar></navbar>
<h1>{{restaurant.name}}</h1>
<div class="container restaurant-details-div">
<div class="container">
 
  
    
  
    
    <li><div class="static-html">Address</div>{{restaurant.location.address}}</li>
    <li><div class="static-html">Rating</div>{{restaurant.user_rating.aggregate_rating}} out of 5 <img src="assets/star.png" alt="small gold star"></li>
    <li><div class="static-html">Type of cuisine:</div>{{restaurant.cuisines}}</li>
    <li><div class="static-html">Average cost for 2</div>${{restaurant.average_cost_for_two}}</li>
    
    


  
  <div class="container top-pad">
  <agm-map [latitude]="coords[0]" [longitude]="coords[1]">
    <agm-marker [latitude]="coords[0]" [longitude]="coords[1]"></agm-marker>
  </agm-map>
</div>
<img [src]="photoUrl">
  
  <div class="buttons">
  <button (click)="join(restaurant.id)">I want to eat here!</button>
  <button (click)="goBack()">I do not want to eat here!</button>
</div>
</div>
<div *ngIf="reservations" class="container users-who-eat-here">
  <h2>Others who want to eat here!</h2>
  <div *ngFor="let user of reservations" class="users">
    <li>Username: {{user.username}}</li>
    <li>First name: {{user.firstName}}</li>
    <li>Contact email: {{user.email}}</li>
    <div class="space"></div>
  </div>
  
</div>
</div>
<div *ngIf="!reservations" class="container users-who-eat-here">
  <h2>You can be the first to schedule a meeting.</h2>
</div>

