@import '~bootstrap/dist/css/bootstrap.css';

agm-map {
    height: 350px;
    width: 350px;
    zoom: .8;
    position: relative;
    display: inline-block;
    align-content: center;
    margin-left: 10vw;
}
.map-pic{
    display: flex;
    flex-direction: row;
}
.google-pic {
   margin-left: 15vw;
    height: 280px;
    width: 350px;
    

}
.static-html{
    font-size: 20px;
    border-bottom: 2px solid grey;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    margin-bottom: 20px;
    margin-top: 10px;
}
/* ul {
    text-align: left;
} */

.top-pad {
    margin-top: 20px;
}
.buttons {
    display: flex;
    
}
button {
    flex-direction: row;
    color: rgba(255,255,255,.87);
    background-color: #232b2b;
    align-content: flex-start;
    margin-top: 20px;
    width: 40%;
    margin-left: 10%;
    margin-right: 10%;
    z-index: 5;
    font-size: 1.8vw;
    
}

h1 {
    font-size: 3em;
    text-align: center;
    text-overflow: ellipsis;
    word-wrap: break-word;
    position: relative;
    padding-top: 5px;
    padding-bottom: 20px;
    display: block;
    background-color:#FFCC99; 
    /* border-radius: 6px;  */
    width: 1170px;
    font-family: 'Cookie', cursive;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

h2 {
    font-size: 4vw;
    color: #6b3e26;;
}
.restaurant-details-div {
    background-color: #FFFDD0; 
    

}
.users-who-eat-here {
    
    border-radius: 6px; 
    padding: auto;
    width: 95%;
    margin: 2px 0px;
    color: #6b3e26;
    text-align: center;
}
.users {
    /* display: flex;
    flex-direction: row; */
    font-size: 2vw;
    /* background-color: #FBC02D; */
    color: #6b3e26;
}
.colum-top {
    /* flex-direction: row; */
    font-size: 2.2vw;
    margin-left: 5vw;
    /* break-after: always; */
    /* flex-grow: 1; */
    text-align: left;
}
.user-info {
    /* flex-direction: row; */
    font-size: 2vw;
    margin-left: 5vw;
    flex-grow: 1;
    text-align: left;
    
}
.contact-button {
    color: rgba(255,255,255,.87);
    background-color: #232b2b;
    margin: auto;
    width: 50%;
   padding: 0 4%;
    z-index: 5;
    font-size: 1.8vw;
}

.space {
    margin-bottom: 5px;
}

@media screen and (max-width:1024px){
    .map-pic{
        display: flex;
        flex-direction: row;
        align-content: center;
    }
    .google-pic {
        padding-top: 10px;
        margin-left: 19vw;
        height: 280px;
        width: 280px;
        align-content: center;
        /* margin: auto 0; */
    
    }
    }
    @media screen and (max-width:736px){
        .map-pic{
            display: flex;
            flex-direction: column;
            align-content: center;
        }
        .google-pic {
            padding-top: 10px;
            margin-left: 32px;
            height: 280px;
            width: 280px;
            align-content: center;
            /* margin: auto 0; */
        
        }
        h2 {
            font-size: 6vw;
        }
        button {
            font-size: 3.5vw;
            

        }
        .user-info {
            font-size: 3.5vw;
           
          
        }
        .colum-top {
            font-size: 4vw;
          

        }
        .contact-button{
            width: 100%;
    
        }
        }