<navbar></navbar>
<h1>{{restaurant.name}}</h1>
<div class="restaurant-details-div">
  <ul>
    
    <li>This establishment is located at: {{restaurant.location.address}}</li>
    <li>This establishment has a {{restaurant.user_rating.aggregate_rating}} out of 5 rating</li>
    <li>The class of food here is: {{restaurant.cuisines}}</li>
    <li>Average cost for 2 guests: ${{restaurant.average_cost_for_two}}</li>
  </ul>
  <button (click)="join(restaurant.id)">I want to eat here!</button>
</div>
<div *ngIf="reservations" class="users-who-eat-here">
  <h2>Users who want to eat placeholder</h2>
  <button (click)="seeGuests(restaurant)">Show me the people I can meet here!</button>
</div>
<div *ngIf="!reservations" class="users-who-eat-here">
  <h2>You can be the first to eat here</h2>
</div>