@import '~bootstrap/dist/css/bootstrap.css';

agm-map {
    height: 350px;
    width: 350px;
    zoom: .8;
    position: relative;
    display: inline-block;
    align-content: center;
}
.static-html{
    font-size: 20px;
    border-bottom: 2px solid grey;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    margin-bottom: 20px;
    margin-top: 10px;
}
/* ul {
    text-align: left;
} */

.top-pad {
    margin-top: 20px;
}
.buttons {
    display: flex;
    
}
button {
    flex-direction: row;
    color: rgba(255,255,255,.87);
    background-color: #232b2b;
    align-content: flex-start;
    margin-top: 20px;
    width: 40%;
    margin-left: 10%;
    margin-right: 10%;
    z-index: 5;
    font-size: 2vw;
    
}

h1 {
    font-size: 3em;
    text-align: center;
    text-overflow: ellipsis;
    word-wrap: break-word;
    position: relative;
    padding-top: 5px;
    padding-bottom: 20px;
    display: inline-block;
    background-color:#FFCC99; 
    /* border-radius: 6px;  */
    width: 100%;
    font-family: 'Cookie', cursive;
}

h2 {
    font-size: 20px;
    color: #6b3e26;;
}
.restaurant-details-div {
    background-color: #FFFDD0; 
    

}
.users-who-eat-here {
    
    border-radius: 6px; 
    padding: auto;
    width: 95%;
    margin: 2px 0px;
    color: #6b3e26;
    text-align: center;
}
.users {
    background-color: #FBC02D;
    color: black;
}
.space {
    margin-bottom: 5px;
}