
h1 {
    font-family: 'Cookie', cursive;
    text-align: center;
    margin: 0% 20%;
    padding-top: 5vh;
    position: relative;

}
form {
    text-align: center;
    width: 100%;
}
#search-bar {
    width: 40%;

}
h2 {
    border-bottom: 3px solid grey;
}
/* .flex-container {
    display: inline-flex;
}
.row-1 {
    flex-direction: row;
} */
/* #search-bar {
    width: 50%;
    margin: 2px;
}
#miles-dropdown {
    width: 40%;
    margin: 2px;
    
} */

.container {
    margin-top: 20px;
    
}
button {
    color: rgba(255,255,255,.87);
    background-color: #232b2b;
    margin-left: auto;
    margin-right: auto;
    float: center;
    position: relative;
    display: block;
}

table {
    float: center;
}
img{
    width: 100%;
    
}
.image-table {
    display: block;
    margin: 0 auto;
    padding-top: 200px;
    padding-left: 0%;
    position: relative;
}
.table-img {
    
    position: relative;
    align-self: auto;
    float: center;
    width:  20vw;
    height: 20vh;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    border: 3px solid black;
}