<button mat-button id="navbar" [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu" >
    <a *ngIf="!isLogged()" routerLink="/signup"><button class="subnav" routerLinkActive="active current" mat-menu-item>Sign Up</button></a>
    <a *ngIf="!isLogged()" routerLink="/login"><button class="subnav" routerLinkActive="active current" mat-menu-item>Log In</button></a>
    <!-- <a routerLink="/profile"><button routerLinkActive="active current" mat-menu-item>My Profile</button></a> -->
    <a routerLink=""><button class="subnav" routerLinkActive="active current" mat-menu-item>Home</button></a>
    <a *ngIf="isLogged()" routerLink="/logout"><button class="subnav" routerLinkActive="active current" mat-menu-item>Logout</button></a>
</mat-menu>
