* {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#navbar {
    color: rgba(255,255,255,.87);
    background-color: #232b2b;
    float: right;
    position: relative;
    
    margin: 10px;
    margin-top: 3px;
    z-index: 5;
    
}
.mat-menu-item:hover:not([disabled]) {
    background: 	#757575;
}
.subnav {
    color: rgba(255,255,255,.87);
    background-color: #232b2b;
}