<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button routerLinkActive="active current" mat-menu-item>
    <a routerLink="/signup">Sign Up</a></button>
  <button routerLinkActive="active current" mat-menu-item><a routerLink="/login">Log In</a></button>
  <button routerLinkActive="active current" mat-menu-item><a routerLink="/profile">My Profile</a></button>
  <button routerLinkActive="active current" mat-menu-item><a routerLink="/newsearch">New Search</a></button>
</mat-menu>
