<navbar></navbar>

<h1>Login</h1>

<form class="form-signin" #SI="ngForm" (ngSubmit)="signIn(SI.value)">
     <mat-form-field > 
     <mat-form-field>
            <div *ngIf="invalidLogin" class="alert alert-danger">
              Invalid username or password.</div>
      <input  type="username" name="username" ngModel matInput placeholder="username">
    </mat-form-field>
    <mat-form-field>
        <input type="password" name="password" ngModel matInput placeholder="Password">
      
    </mat-form-field>
 
    <button mat-button>Log In</button>
     </mat-form-field>
 

    
    </form>