<navbar></navbar>
<h1>Signup</h1>


<div class="sign-up-container">
  
  <mat-form-field>
    <input matInput placeholder="Username">
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="Password">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="First Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Last Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Email Address">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Phone Number">
  </mat-form-field>
  <button mat-button>Submit</button>
  
</div>