<navbar></navbar>
<h1>Signup</h1>


<div class="sign-up-container">
  <form class="no-style form-signup" #SU="ngForm" (ngSubmit)="signUp(SU.value, SU.valid)">
  <mat-form-field>
    <input matInput name="username" ngModel required placeholder="Username">
  </mat-form-field>
  <br>
  <mat-form-field>
      <input matInput name="password" type="password" required ngModel placeholder="Password">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput name="firstName" ngModel required placeholder="First Name">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput name="lastName" required ngModel placeholder="Last Name">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput name="email" type="text" required ngModel placeholder="Email Address">
  </mat-form-field>
  <br>
  
  <button mat-button>Submit</button>
</form>
</div>