h1 {
  text-align: center;
  padding-top: 9vh;
  font-size: 5vw;
}

.sign-up-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .sign-up-container > * {
    width: 100%;
  }
  .no-style {
    all: none;
  }
  button {
    color: rgba(255,255,255,.87);
    background-color: #232b2b;
    margin-top: 20px;
    z-index: 5;
}
@media screen and (max-width:1024px){

  h1{
    font-size: 10vw;
  }
}